@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<div class="panel panel-primary">
		<div class="panel-heading">
						@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="panel-title r-panel-top row" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="panel-only" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	 
		 
			<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class="			col-md-12
	
">
		 
		<SPAN data-itemtype="back_master" data-itemid="back_master" @(Model.displayVar("item_back_master")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-link  btn-xs 
	" @(Model.displayVar("backtomasterlink_attrs"))>
							Back to Master table			</a>
</span>
	 
		<H3 class="panel-title" data-itemtype="masterlist_header" data-itemid="masterlist_header" @(Model.displayVar("item_masterlist_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_ProcuringEntity masterlist"))</h3>
		</div>			</div>		
}
			</div>
		<div class="panel-body">
							@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="panel-only" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	
">
		@foreach (string _firstAboveGridCell in Model.GetSection("firstAboveGridCell", this)){
				}	
	</div>					</div>
			</div>		
}
								@foreach (string _grid_block in Model.GetSection("grid_block", this)){
foreach (string _message_block in Model.GetSection("message_block", this)){
<DIV data-grid-message data-pageid="@(Model.displayVar("pageid"))" class="alert @(Model.displayVar("message_class"))" role="alert" @(Model.displayVar("grid_message_attrs"))>@(Model.displayVar("message"))</div>
}<TABLE data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="panel-only" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class=" table table-striped table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable" cellpadding="0" data-body-height="1">
						<thead>
			@foreach (string _grid_header in Model.GetSection("grid_header", this)){
			
																									<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_0")) class="@(Model.displayVar("rowclass"))
									@(Model.displayVar("gridHeader_class"))
					
								r-gridrow
							">
									@foreach (string _cellblock_grid_headcell_field in Model.GetSection("cellblock_grid_headcell_field", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("EntityName_class"))	" data-field="EntityName" data-cellId="grid_headcell_field" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _EntityName_fieldheadercolumn in Model.GetSection("EntityName_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field5" @(Model.displayVar("item_simple_grid_field5")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="EntityName" data-fieldname="EntityName">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_ProcuringEntity EntityName"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field1 in Model.GetSection("cellblock_grid_headcell_field1", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field1")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("EntityType_class"))	" data-field="EntityType" data-cellId="grid_headcell_field1" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _EntityType_fieldheadercolumn in Model.GetSection("EntityType_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field6" @(Model.displayVar("item_simple_grid_field6")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="EntityType" data-fieldname="EntityType">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_ProcuringEntity EntityType"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field2 in Model.GetSection("cellblock_grid_headcell_field2", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field2")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("IsAuthorized_class"))	" data-field="IsAuthorized" data-cellId="grid_headcell_field2" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _IsAuthorized_fieldheadercolumn in Model.GetSection("IsAuthorized_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field7" @(Model.displayVar("item_simple_grid_field7")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="IsAuthorized" data-fieldname="IsAuthorized">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_ProcuringEntity IsAuthorized"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field3 in Model.GetSection("cellblock_grid_headcell_field3", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("AuthorityDetails_class"))	" data-field="AuthorityDetails" data-cellId="grid_headcell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _AuthorityDetails_fieldheadercolumn in Model.GetSection("AuthorityDetails_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field8" @(Model.displayVar("item_simple_grid_field8")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="AuthorityDetails" data-fieldname="AuthorityDetails">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_ProcuringEntity AuthorityDetails"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field4 in Model.GetSection("cellblock_grid_headcell_field4", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("Id_class"))	" data-field="Id" data-cellId="grid_headcell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _Id_fieldheadercolumn in Model.GetSection("Id_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field9" @(Model.displayVar("item_simple_grid_field9")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="Id" data-fieldname="Id">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_ProcuringEntity Id"))</span>
			</span>
	</span>
}

	
	</th>
	}
							</tr>
															
					}
			</thead>
															<tbody>
					@foreach (string _grid_row in Model.GetSection("grid_row", this)){
							
																														<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_1")) class="@(Model.displayVar("rowclass"))
				
								r-gridrow
							">
									@foreach (string _cellblock_grid_cell_field in Model.GetSection("cellblock_grid_cell_field", this)){
	<TD @(Model.displayVar("cell_grid_cell_field")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("EntityName_class"))	" data-field="EntityName" data-cellId="grid_cell_field" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _EntityName_fieldcolumn in Model.GetSection("EntityName_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field1" @(Model.displayVar("item_simple_grid_field1")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="EntityName" data-fieldname="EntityName" data-default-width>
@(Model.displayVar("EntityName_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field1 in Model.GetSection("cellblock_grid_cell_field1", this)){
	<TD @(Model.displayVar("cell_grid_cell_field1")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("EntityType_class"))	" data-field="EntityType" data-cellId="grid_cell_field1" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _EntityType_fieldcolumn in Model.GetSection("EntityType_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field2" @(Model.displayVar("item_simple_grid_field2")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="EntityType" data-fieldname="EntityType" data-default-width>
@(Model.displayVar("EntityType_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field2 in Model.GetSection("cellblock_grid_cell_field2", this)){
	<TD @(Model.displayVar("cell_grid_cell_field2")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("IsAuthorized_class"))	" data-field="IsAuthorized" data-cellId="grid_cell_field2" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _IsAuthorized_fieldcolumn in Model.GetSection("IsAuthorized_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field3" @(Model.displayVar("item_simple_grid_field3")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="IsAuthorized" data-fieldname="IsAuthorized" data-default-width>
@(Model.displayVar("IsAuthorized_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field3 in Model.GetSection("cellblock_grid_cell_field3", this)){
	<TD @(Model.displayVar("cell_grid_cell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("AuthorityDetails_class"))	" data-field="AuthorityDetails" data-cellId="grid_cell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _AuthorityDetails_fieldcolumn in Model.GetSection("AuthorityDetails_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field4" @(Model.displayVar("item_simple_grid_field4")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="AuthorityDetails" data-fieldname="AuthorityDetails" data-default-width>
@(Model.displayVar("AuthorityDetails_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field4 in Model.GetSection("cellblock_grid_cell_field4", this)){
	<TD @(Model.displayVar("cell_grid_cell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("Id_class"))	" data-field="Id" data-cellId="grid_cell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _Id_fieldcolumn in Model.GetSection("Id_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field" @(Model.displayVar("item_simple_grid_field")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="Id" data-fieldname="Id" data-default-width>
@(Model.displayVar("Id_value"))
</span>
}	
	</td>
	}
							</tr>
										
											}
					</tbody>
													<tfoot>
			
																																			<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_2")) class="@(Model.displayVar("rowclass"))
									@(Model.displayVar("gridFooter_class"))
					
								r-gridrow
							">
									@foreach (string _cellblock_grid_footcell_field in Model.GetSection("cellblock_grid_footcell_field", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("EntityName_class"))	" data-cellId="grid_footcell_field" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="procuringentity_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field1 in Model.GetSection("cellblock_grid_footcell_field1", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field1")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("EntityType_class"))	" data-cellId="grid_footcell_field1" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="procuringentity_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field2 in Model.GetSection("cellblock_grid_footcell_field2", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field2")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("IsAuthorized_class"))	" data-cellId="grid_footcell_field2" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="procuringentity_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field3 in Model.GetSection("cellblock_grid_footcell_field3", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("AuthorityDetails_class"))	" data-cellId="grid_footcell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="procuringentity_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field4 in Model.GetSection("cellblock_grid_footcell_field4", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("Id_class"))	" data-cellId="grid_footcell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="procuringentity_masterlist">

	
	</td>
	}
							</tr>
					
					</tfoot>
				</table>
}
								</div>
</div>
