@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-search">
	@foreach (string _body in Model.GetSection("body", this)){
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		<div class="r-vbar-page">
			<DIV data-width="250px" data-fixed class="r-left clearfix @(Model.displayVar("leftbar_class"))">
								<DIV data-location="left" id="form_left_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_left")) data-pageid="@(Model.displayVar("pageid"))">
@foreach (string _left_block in Model.GetSection("left_block", this)){
 
     
         

			<DIV data-cellId="left_c0" data-pageid="@(Model.displayVar("pageid"))" data-logo-cell class="clearfix " data-itemid="logo" @(Model.displayVar("item_logo"))>
				@foreach (string _logo_block in Model.GetSection("logo_block", this)){
	<A data-itemtype="logo" data-itemid="logo" @(Model.displayVar("item_logo")) data-pageid="@(Model.displayVar("pageid"))" class="navbar-brand" href="@(Model.displayVar("home_link"))" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("logo_hiddenattr"))>
		@(Model.displayVar("logo"))
	</A>
}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<DIV class="clearfix " data-cellId="left_c0" data-pageid="@(Model.displayVar("pageid"))" data-logo-cell data-itemid="expand_button" @(Model.displayVar("item_expand_button")) data-topcell-item-type="expand_button">
				<SPAN data-itemtype="expand_button" data-itemid="expand_button" @(Model.displayVar("item_expand_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Expand" class="btn btn-link   
	" href="#">
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<DIV data-cellId="left_c1" data-pageid="@(Model.displayVar("pageid"))" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))">
				@foreach (string _menuitems_main in Model.GetSection("menuitems_main", this)){
<UL data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))" class="r-menu nav menu-treelike" data-menulevel="1">

@foreach (string _item_children1 in Model.GetSection("item_children1", this)){
<LI class="
	@(Model.displayVar("item_current"))">
<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline data-menu-top>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
		<span class="r-menu-collapsed">@(Model.displayVar("item_collicon"))@(Model.displayVar("item_firstcap"))</span>
	</a>
@foreach (string _item_showchildren2 in Model.GetSection("item_showchildren2", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="2">
	@foreach (string _item_children2 in Model.GetSection("item_children2", this)){
		foreach (string _item_menulink2 in Model.GetSection("item_menulink2", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2_1 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon_1 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren3 in Model.GetSection("item_showchildren3", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="3">
	@foreach (string _item_children3 in Model.GetSection("item_children3", this)){
		foreach (string _item_menulink3 in Model.GetSection("item_menulink3", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren3 in Model.GetSection("item_haschildren3", this)){
		foreach (string _item_expand_icon_2 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren4 in Model.GetSection("item_showchildren4", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="4">
	@foreach (string _item_children4 in Model.GetSection("item_children4", this)){
		foreach (string _item_menulink4 in Model.GetSection("item_menulink4", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren4 in Model.GetSection("item_haschildren4", this)){
		foreach (string _item_expand_icon_3 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren5 in Model.GetSection("item_showchildren5", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="5">
	@foreach (string _item_children5 in Model.GetSection("item_children5", this)){
		foreach (string _item_menulink5 in Model.GetSection("item_menulink5", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren5 in Model.GetSection("item_haschildren5", this)){
		foreach (string _item_expand_icon_4 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
					</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
</li>
}
</ul>
}
			</div>
		
    }
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									@foreach (string _supertop_block in Model.GetSection("supertop_block", this)){
<NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_supertop")) data-pageid="@(Model.displayVar("pageid"))">
			 
							 
				<SPAN class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="expand_menu_button" @(Model.displayVar("item_expand_menu_button")) data-topcell-item-type="expand_menu_button">
				<SPAN data-itemtype="expand_menu_button" data-itemid="expand_menu_button" @(Model.displayVar("item_expand_menu_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#">		
				
								</a>
</span>
			</span>
		 
				<SPAN class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="collapse_button" @(Model.displayVar("item_collapse_button")) data-topcell-item-type="collapse_button">
				<SPAN data-itemtype="collapse_button" data-itemid="collapse_button" @(Model.displayVar("item_collapse_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#">		
				
								</a>
</span>
			</span>
							 
													</nav>
}
						@(Model.displayVar("locking"))
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					@{Html.RenderSharedView("header");}
					<div class="r-top">
									@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	
">
		 
		<H2 data-itemtype="search_header" data-itemid="search_header" @(Model.displayVar("item_search_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_HeadOfProcuringEntity_HOPE_ search"))</h2>
		</div>					</div>
			</div>		
}
						</div>
											<div class="r-above">
					@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	
">
		@foreach (string _firstAboveGridCell in Model.GetSection("firstAboveGridCell", this)){
				}	
	</div>					</div>
			</div>		
}
	</div>
<div class="r-grid">
	@foreach (string _grid_tabs in Model.GetSection("grid_tabs", this)){
  <ul class="nav nav-tabs bsgrid_tabs">
	@(Model.displayVar("grid_tabs_content"))
  </ul>
}
					@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="left" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="6">
	<div edit-form-cell class="clearfix">
				
@foreach (string _HopeId_fieldblock in Model.GetSection("HopeId_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_HopeId"))  r-horizontal-field form-horizontal" data-signal-error-for="HopeId@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field" @(Model.displayVar("item_integrated_search_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="HopeId" data-fieldname="HopeId">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_HopeId"))">
		@(Model.displayVar("label dbo_HeadOfProcuringEntity_HOPE_ HopeId"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_HopeId"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("HopeId_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("HopeId_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _EntityId_fieldblock in Model.GetSection("EntityId_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_EntityId"))  r-horizontal-field form-horizontal" data-signal-error-for="EntityId@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" @(Model.displayVar("item_integrated_search_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="EntityId" data-fieldname="EntityId">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_EntityId"))">
		@(Model.displayVar("label dbo_HeadOfProcuringEntity_HOPE_ EntityId"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_EntityId"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("EntityId_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("EntityId_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _HopeName_fieldblock in Model.GetSection("HopeName_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_HopeName"))  r-horizontal-field form-horizontal" data-signal-error-for="HopeName@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" @(Model.displayVar("item_integrated_search_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="HopeName" data-fieldname="HopeName">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_HopeName"))">
		@(Model.displayVar("label dbo_HeadOfProcuringEntity_HOPE_ HopeName"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_HopeName"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("HopeName_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("HopeName_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _HopeType_fieldblock in Model.GetSection("HopeType_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_HopeType"))  r-horizontal-field form-horizontal" data-signal-error-for="HopeType@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" @(Model.displayVar("item_integrated_search_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="HopeType" data-fieldname="HopeType">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_HopeType"))">
		@(Model.displayVar("label dbo_HeadOfProcuringEntity_HOPE_ HopeType"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_HopeType"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("HopeType_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("HopeType_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _DelegationDetails_fieldblock in Model.GetSection("DelegationDetails_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_DelegationDetails"))  r-horizontal-field form-horizontal" data-signal-error-for="DelegationDetails@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" @(Model.displayVar("item_integrated_search_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="DelegationDetails" data-fieldname="DelegationDetails">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_DelegationDetails"))">
		@(Model.displayVar("label dbo_HeadOfProcuringEntity_HOPE_ DelegationDetails"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_DelegationDetails"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("DelegationDetails_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("DelegationDetails_editcontrol1"))
	</div>
	
</div>

}
	
								</td>
			}
								</tr>
			</tbody></table>
}
	</div>
<div class="r-below">
					@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-12
	
">
		 
		<SPAN data-itemtype="search_search" data-itemid="search_search" @(Model.displayVar("item_search_search")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("searchbutton_attrs")) data-page=undefined>
							Search			</a>
</span>
	 
		<SPAN data-itemtype="search_reset" data-itemid="search_reset" @(Model.displayVar("item_search_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs"))>
							Reset			</a>
</span>
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="search_back_list" data-itemid="search_back_list" @(Model.displayVar("item_search_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _cancel_button in Model.GetSection("cancel_button", this)){
<SPAN data-itemtype="search_cancel" data-itemid="search_cancel" @(Model.displayVar("item_search_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="cancelButton@(Model.displayVar("id"))">
							Cancel			</a>
</span>
}
		</div>					</div>
			</div>		
}
	</div>




										@{Html.RenderSharedView("footer");}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	}
	</body>
</html>
