@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-list">
	@foreach (string _body in Model.GetSection("body", this)){
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		<div class="r-vbar-page">
			<DIV data-width="250px" data-fixed class="r-left clearfix @(Model.displayVar("leftbar_class"))">
								<DIV data-location="left" id="form_left_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_left")) data-pageid="@(Model.displayVar("pageid"))">
@foreach (string _left_block in Model.GetSection("left_block", this)){
 
     
         

			<DIV data-cellId="left_c0" data-pageid="@(Model.displayVar("pageid"))" data-logo-cell class="clearfix " data-itemid="logo" @(Model.displayVar("item_logo"))>
				@foreach (string _logo_block in Model.GetSection("logo_block", this)){
	<A data-itemtype="logo" data-itemid="logo" @(Model.displayVar("item_logo")) data-pageid="@(Model.displayVar("pageid"))" class="navbar-brand" href="@(Model.displayVar("home_link"))" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("logo_hiddenattr"))>
		@(Model.displayVar("logo"))
	</A>
}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<DIV class="clearfix " data-cellId="left_c0" data-pageid="@(Model.displayVar("pageid"))" data-logo-cell data-itemid="expand_button" @(Model.displayVar("item_expand_button")) data-topcell-item-type="expand_button">
				<SPAN data-itemtype="expand_button" data-itemid="expand_button" @(Model.displayVar("item_expand_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Expand" class="btn btn-link   
	" href="#">
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<DIV data-cellId="left_c1" data-pageid="@(Model.displayVar("pageid"))" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))">
				@foreach (string _menuitems_main in Model.GetSection("menuitems_main", this)){
<UL data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))" class="r-menu nav menu-treelike" data-menulevel="1">

@foreach (string _item_children1 in Model.GetSection("item_children1", this)){
<LI class="
	@(Model.displayVar("item_current"))">
<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline data-menu-top>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
		<span class="r-menu-collapsed">@(Model.displayVar("item_collicon"))@(Model.displayVar("item_firstcap"))</span>
	</a>
@foreach (string _item_showchildren2 in Model.GetSection("item_showchildren2", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="2">
	@foreach (string _item_children2 in Model.GetSection("item_children2", this)){
		foreach (string _item_menulink2 in Model.GetSection("item_menulink2", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2_1 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon_1 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren3 in Model.GetSection("item_showchildren3", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="3">
	@foreach (string _item_children3 in Model.GetSection("item_children3", this)){
		foreach (string _item_menulink3 in Model.GetSection("item_menulink3", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren3 in Model.GetSection("item_haschildren3", this)){
		foreach (string _item_expand_icon_2 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren4 in Model.GetSection("item_showchildren4", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="4">
	@foreach (string _item_children4 in Model.GetSection("item_children4", this)){
		foreach (string _item_menulink4 in Model.GetSection("item_menulink4", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren4 in Model.GetSection("item_haschildren4", this)){
		foreach (string _item_expand_icon_3 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren5 in Model.GetSection("item_showchildren5", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="5">
	@foreach (string _item_children5 in Model.GetSection("item_children5", this)){
		foreach (string _item_menulink5 in Model.GetSection("item_menulink5", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren5 in Model.GetSection("item_haschildren5", this)){
		foreach (string _item_expand_icon_4 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
					</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
</li>
}
</ul>
}
			</div>
		
 

			<DIV class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="search_panel" @(Model.displayVar("item_search_panel")) data-topcell-item-type="search_panel">
				<!-- Begin Search panel content -->
<DIV class="searchOptions panel panel-primary searchPanelContainer " @(Model.displayVar("srchOpt_attrs")) data-itemtype="search_panel" data-itemid="search_panel" @(Model.displayVar("item_search_panel")) data-pageid="@(Model.displayVar("pageid"))">

	<div class="panel-heading">
		<DIV class="btn-group r-sp-addfield" id="addSearchFieldButton@(Model.displayVar("id"))">
			<BUTTON id="showHideControlChooseMenu@(Model.displayVar("id"))" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<DIV class="btn-group r-sp-options" id="searchPanelOptions@(Model.displayVar("id"))">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<LI id="showHideSearchType@(Model.displayVar("id"))" @(Model.displayVar("showHideCtrlsOpt_attrs"))><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><INPUT type="radio" name="srchType@(Model.displayVar("id"))" id="radioAll" @(Model.displayVar("all_checkbox")) /><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><INPUT type="radio" name="srchType@(Model.displayVar("id"))" id="radioAny" @(Model.displayVar("any_checkbox")) /><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<DIV class="panel-body controlsBlock" @(Model.displayVar("bottomSearchButt_attrs"))>


		
		@foreach (string _searchCtrlBlock in Model.GetSection("searchCtrlBlock", this)){
		<DIV class="srchPanelRow form-group" @(Model.displayVar("filterRow_attrs"))>
			<label>@(Model.displayVar("fLabel"))</label>	@(Model.displayVar("delCtrlButt"))
				<span class="rnr-searchtype">@(Model.displayVar("searchtype"))</span>
				<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol"))</span>
				<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1"))</span>
		</div>
		}
																		@foreach (string _searchCtrlBlock_Id in Model.GetSection("searchCtrlBlock_Id", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_Id"))" @(Model.displayVar("filterRow_attrs_Id"))>
			<label>@(Model.displayVar("label dbo_ScheduleOfRequirements Id"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_Id"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_Id"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_Id"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_DeliverySchedule in Model.GetSection("searchCtrlBlock_DeliverySchedule", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_DeliverySchedule"))" @(Model.displayVar("filterRow_attrs_DeliverySchedule"))>
			<label>@(Model.displayVar("label dbo_ScheduleOfRequirements DeliverySchedule"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_DeliverySchedule"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_DeliverySchedule"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_DeliverySchedule"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_Quantity in Model.GetSection("searchCtrlBlock_Quantity", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_Quantity"))" @(Model.displayVar("filterRow_attrs_Quantity"))>
			<label>@(Model.displayVar("label dbo_ScheduleOfRequirements Quantity"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_Quantity"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_Quantity"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_Quantity"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_Description in Model.GetSection("searchCtrlBlock_Description", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_Description"))" @(Model.displayVar("filterRow_attrs_Description"))>
			<label>@(Model.displayVar("label dbo_ScheduleOfRequirements Description"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_Description"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_Description"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_Description"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_ItemNo in Model.GetSection("searchCtrlBlock_ItemNo", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_ItemNo"))" @(Model.displayVar("filterRow_attrs_ItemNo"))>
			<label>@(Model.displayVar("label dbo_ScheduleOfRequirements ItemNo"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_ItemNo"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_ItemNo"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_ItemNo"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_PbdId in Model.GetSection("searchCtrlBlock_PbdId", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_PbdId"))" @(Model.displayVar("filterRow_attrs_PbdId"))>
			<label>@(Model.displayVar("label dbo_ScheduleOfRequirements PbdId"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_PbdId"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_PbdId"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_PbdId"))</span>
						</div>
		}
		

	</div>

	<DIV class="panel-footer bottomSearchButt" @(Model.displayVar("bottomSearchButt_attrs"))>
		<BUTTON class="btn btn-primary btn-sm" id="searchButton@(Model.displayVar("id"))" @(Model.displayVar("searchbutton_attrs"))>Search</button>

				<BUTTON class="btn btn-default btn-sm" @(Model.displayVar("showAllCont_attrs")) @(Model.displayVar("showallbutton_attrs"))>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    }
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									@foreach (string _supertop_block in Model.GetSection("supertop_block", this)){
<NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_supertop")) data-pageid="@(Model.displayVar("pageid"))">
			 
							 
				<SPAN class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="expand_menu_button" @(Model.displayVar("item_expand_menu_button")) data-topcell-item-type="expand_menu_button">
				<SPAN data-itemtype="expand_menu_button" data-itemid="expand_menu_button" @(Model.displayVar("item_expand_menu_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#">		
				
								</a>
</span>
			</span>
		 
				<SPAN class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="collapse_button" @(Model.displayVar("item_collapse_button")) data-topcell-item-type="collapse_button">
				<SPAN data-itemtype="collapse_button" data-itemid="collapse_button" @(Model.displayVar("item_collapse_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#">		
				
								</a>
</span>
			</span>
		 
				<SPAN class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="breadcrumb" @(Model.displayVar("item_breadcrumb")) data-topcell-item-type="breadcrumb">
				@foreach (string _breadcrumb in Model.GetSection("breadcrumb", this)){
<OL class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" @(Model.displayVar("item_breadcrumb")) data-pageid="@(Model.displayVar("pageid"))">
<li ><A href="@(Model.displayVar("crumb_home_link"))"><span class="glyphicon glyphicon-home"></span></a>@(Model.displayVar("crumb_dropdown"))</li>
@foreach (string _crumb in Model.GetSection("crumb", this)){
  <LI class="@(Model.displayVar("crumb_item_class"))">
@foreach (string _crumb_title_link in Model.GetSection("crumb_title_link", this)){
	<A @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</a>
}
@foreach (string _crumb_title_span in Model.GetSection("crumb_title_span", this)){
	<SPAN @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</span>
}	
	@(Model.displayVar("crumb_dropdown"))
  </li>
}
</ol>
}			</span>
							 
							 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="simple_search" @(Model.displayVar("item_simple_search")) data-topcell-item-type="simple_search">
				<SPAN data-itemtype="simple_search" data-itemid="simple_search" @(Model.displayVar("item_simple_search")) data-pageid="@(Model.displayVar("pageid"))" class="form-group">

<div  class="input-group">
@foreach (string _searchform_text in Model.GetSection("searchform_text", this)){
	<INPUT type="search" class="form-control" @(Model.displayVar("searchfor_attrs")) size="25" />
}
	<span class="input-group-btn">
	@foreach (string _searchform_showall in Model.GetSection("searchform_showall", this)){
				<BUTTON class="btn btn-default" @(Model.displayVar("showAllCont_attrs")) @(Model.displayVar("showallbutton_attrs")) title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	}

	@foreach (string _searchform_search in Model.GetSection("searchform_search", this)){
	<BUTTON @(Model.displayVar("searchbutton_attrs")) class="btn btn-primary">
		<span class="glyphicon glyphicon-search"></span>
	</button>
	}
	</span>
</div>
		
</span>			</span>
		 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="list_options" @(Model.displayVar("item_list_options")) data-topcell-item-type="list_options">
				<SPAN data-itemtype="list_options" data-itemid="list_options" @(Model.displayVar("item_list_options")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							@foreach (string _deleteselected_link in Model.GetSection("deleteselected_link", this)){
	<LI data-itemtype="delete_selected" data-itemid="delete_selected" @(Model.displayVar("item_delete_selected")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="#" @(Model.displayVar("deleteselectedlink_attrs")) @(Model.displayVar("deleteselectedlink_span")) title>
				
		Delete selected		
		</a>
	</li>
}
							<li role="separator" class="divider"></li>							@foreach (string _searchPanelTopButtons in Model.GetSection("searchPanelTopButtons", this)){
	<LI data-itemtype="show_search_panel" data-itemid="show_search_panel" @(Model.displayVar("item_show_search_panel")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A id="showOptPanel@(Model.displayVar("id"))" title>
				
		Show search panel		
		</a>
	</li>
}
							@foreach (string _searchPanelTopButtons_1 in Model.GetSection("searchPanelTopButtons", this)){
	<LI data-itemtype="hide_search_panel" data-itemid="hide_search_panel" @(Model.displayVar("item_hide_search_panel")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A id="hideOptPanel@(Model.displayVar("id"))" title>
				
		Hide search panel		
		</a>
	</li>
}
					</ul>
	</span>
</span>
			</span>
								</nav>
}
						@(Model.displayVar("locking"))
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					@{Html.RenderSharedView("header");}
					<div class="r-top">
									@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="top_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c2")) class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
}
						</div>
											<div class="r-above">
					@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-6
	
">
		@foreach (string _firstAboveGridCell in Model.GetSection("firstAboveGridCell", this)){
		 
		foreach (string _inlineadd_link in Model.GetSection("inlineadd_link", this)){
<SPAN data-itemtype="inline_add" data-itemid="inline_add" @(Model.displayVar("item_inline_add")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("inlineaddlink_attrs"))>
							Inline Add			</a>
</span>
}
			}	
	</div>			 
				<DIV data-cellId="above-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c2")) class="r-align-right			col-md-6
	
">
		 
		<SPAN data-itemtype="details_found" data-itemid="details_found" @(Model.displayVar("item_details_found")) data-pageid="@(Model.displayVar("pageid"))" data-small>
@(Model.displayVar("mlp_push"))@(Model.displayVar("mlparam first var first_shown"))@(Model.displayVar("mlparam last var last_shown"))@(Model.displayVar("mlparam total var records_found"))@(Model.mlang_message("DISPLAYING"))@(Model.displayVar("mlp_pop"))</span>	 
		<SPAN data-itemtype="page_size" data-itemid="page_size" @(Model.displayVar("item_page_size")) data-pageid="@(Model.displayVar("pageid"))">
		@(Model.displayVar("recsPerPage"))
</span>	 
		@foreach (string _print_friendly in Model.GetSection("print_friendly", this)){
<SPAN id="printpanelblock@(Model.displayVar("id"))" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("printpanel_hiddenattr")) data-itemtype="print_panel" data-itemid="print_panel" @(Model.displayVar("item_print_panel")) data-pageid="@(Model.displayVar("pageid"))">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<DIV id="print_friendly_scope@(Model.displayVar("id"))">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

			 
		@foreach (string _print_friendly_all in Model.GetSection("print_friendly_all", this)){
		<div class="col-md-8">
			<LABEL for="printAll@(Model.displayVar("id"))">
				<INPUT type="radio" id="printAll@(Model.displayVar("id"))" data-href="scheduleofrequirements_print.aspx?all=1&amp;@(Model.displayVar("crosstable_attrs"))" name="printScope" />
									Print all pages							</label>
		</div>
		}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<LABEL for="printPage@(Model.displayVar("id"))">
				<INPUT name="printScope" id="printPage@(Model.displayVar("id"))" type="radio" checked data-href="scheduleofrequirements_print.aspx?@(Model.displayVar("crosstable_attrs"))" />
				Print this page			</label>
		</div>
	</div>
		
		 
	<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<LABEL style="color: gray;" for="printSelection@(Model.displayVar("id"))">
			<INPUT name="printScope" disabled="disabled" id="printSelection@(Model.displayVar("id"))" type="radio" />
			Print selected			</label>
		</div>
	</div>
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<LABEL for="printPerPage@(Model.displayVar("id"))">
					Records Per Page							
	</label>
	<INPUT type="number" id="printPerPage@(Model.displayVar("id"))" value="@(Model.displayVar("print_recspp"))" class="rnr-printrecspp" />		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<SPAN data-itemtype="print_button" data-itemid="print_button" @(Model.displayVar("item_print_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" id="print_friendly_button@(Model.displayVar("id"))">
							Print			</a>
</span>
				 
					</li>
															</ul>
</span>
}
		</div>					</div>
			</div>		
}
	</div>
<div class="r-grid">
	@foreach (string _grid_tabs in Model.GetSection("grid_tabs", this)){
  <ul class="nav nav-tabs bsgrid_tabs">
	@(Model.displayVar("grid_tabs_content"))
  </ul>
}
					@foreach (string _grid_block in Model.GetSection("grid_block", this)){
foreach (string _message_block in Model.GetSection("message_block", this)){
<DIV data-grid-message data-pageid="@(Model.displayVar("pageid"))" class="alert @(Model.displayVar("message_class"))" role="alert" @(Model.displayVar("grid_message_attrs"))>@(Model.displayVar("message"))</div>
}	<style>@MvcHtmlString.Create(@"
@media screen and (max-width: 767px) {
					[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""Description""]:before {
		content: """)@(Model.displayVar("label dbo_ScheduleOfRequirements Description"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""Quantity""]:before {
		content: """)@(Model.displayVar("label dbo_ScheduleOfRequirements Quantity"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""DeliverySchedule""]:before {
		content: """)@(Model.displayVar("label dbo_ScheduleOfRequirements DeliverySchedule"))@MvcHtmlString.Create(@""";
	}
	}")</style>
<TABLE data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class=" table table-striped table-bordered r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" data-body-height="1">
						<thead>
			@foreach (string _grid_header in Model.GetSection("grid_header", this)){
			
																									<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_0")) class="@(Model.displayVar("rowclass"))
									@(Model.displayVar("gridHeader_class"))
					
								r-gridrow
							">
									@foreach (string _cellblock_grid_headcell_icons in Model.GetSection("cellblock_grid_headcell_icons", this)){
	<TH @(Model.displayVar("cell_grid_headcell_icons")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert			" data-cellId="grid_headcell_icons" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="scheduleofrequirements_list1" data-control-cell>

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field3 in Model.GetSection("cellblock_grid_headcell_field3", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("Description_class"))	" data-field="Description" data-cellId="grid_headcell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _Description_fieldheadercolumn in Model.GetSection("Description_fieldheadercolumn", this)){
	foreach (string _Description_fieldheader in Model.GetSection("Description_fieldheader", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field9" @(Model.displayVar("item_simple_grid_field9")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="Description" data-fieldname="Description" @(Model.displayVar("Description_orderlinkattrs"))>
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_ScheduleOfRequirements Description"))</span>
					@(Model.displayVar("arrow_icon_Description"))
			</span>
	</span>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field4 in Model.GetSection("cellblock_grid_headcell_field4", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("Quantity_class"))	" data-field="Quantity" data-cellId="grid_headcell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _Quantity_fieldheadercolumn in Model.GetSection("Quantity_fieldheadercolumn", this)){
	foreach (string _Quantity_fieldheader in Model.GetSection("Quantity_fieldheader", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field10" @(Model.displayVar("item_simple_grid_field10")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="Quantity" data-fieldname="Quantity" @(Model.displayVar("Quantity_orderlinkattrs"))>
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_ScheduleOfRequirements Quantity"))</span>
					@(Model.displayVar("arrow_icon_Quantity"))
			</span>
	</span>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field5 in Model.GetSection("cellblock_grid_headcell_field5", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field5")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("DeliverySchedule_class"))	" data-field="DeliverySchedule" data-cellId="grid_headcell_field5" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _DeliverySchedule_fieldheadercolumn in Model.GetSection("DeliverySchedule_fieldheadercolumn", this)){
	foreach (string _DeliverySchedule_fieldheader in Model.GetSection("DeliverySchedule_fieldheader", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field11" @(Model.displayVar("item_simple_grid_field11")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="DeliverySchedule" data-fieldname="DeliverySchedule" @(Model.displayVar("DeliverySchedule_orderlinkattrs"))>
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_ScheduleOfRequirements DeliverySchedule"))</span>
					@(Model.displayVar("arrow_icon_DeliverySchedule"))
			</span>
	</span>
	}
}

	
	</th>
	}
							</tr>
															
					}
			</thead>
															<tbody>
					@foreach (string _grid_row in Model.GetSection("grid_row", this)){
							
																														<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_1")) class="@(Model.displayVar("rowclass"))
				
								r-gridrow
							">
									@foreach (string _cellblock_grid_cell_icons in Model.GetSection("cellblock_grid_cell_icons", this)){
	<TD @(Model.displayVar("cell_grid_cell_icons")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert			" data-cellId="grid_cell_icons" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="scheduleofrequirements_list1" data-control-cell>

	 
		@foreach (string _inline_cancel in Model.GetSection("inline_cancel", this)){
<SPAN data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" @(Model.displayVar("item_grid_inline_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-small data-button-item>
	<A type="button" title="Cancel" class="btn-link   
	 glyphicon glyphicon-remove" @(Model.displayVar("inlinerevertlink_attrs")) title="Cancel">		
				
								</a>
</span>
}
	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field3 in Model.GetSection("cellblock_grid_cell_field3", this)){
	<TD @(Model.displayVar("cell_grid_cell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("Description_class"))	" data-field="Description" data-cellId="grid_cell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _Description_fieldcolumn in Model.GetSection("Description_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field3" @(Model.displayVar("item_simple_grid_field3")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="Description" data-fieldname="Description" data-default-width>
@(Model.displayVar("Description_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field4 in Model.GetSection("cellblock_grid_cell_field4", this)){
	<TD @(Model.displayVar("cell_grid_cell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("Quantity_class"))	" data-field="Quantity" data-cellId="grid_cell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _Quantity_fieldcolumn in Model.GetSection("Quantity_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field4" @(Model.displayVar("item_simple_grid_field4")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="Quantity" data-fieldname="Quantity" data-default-width>
@(Model.displayVar("Quantity_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field5 in Model.GetSection("cellblock_grid_cell_field5", this)){
	<TD @(Model.displayVar("cell_grid_cell_field5")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("DeliverySchedule_class"))	" data-field="DeliverySchedule" data-cellId="grid_cell_field5" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _DeliverySchedule_fieldcolumn in Model.GetSection("DeliverySchedule_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field5" @(Model.displayVar("item_simple_grid_field5")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="DeliverySchedule" data-fieldname="DeliverySchedule" data-default-width>
@(Model.displayVar("DeliverySchedule_value"))
</span>
}	
	</td>
	}
							</tr>
										
											}
					</tbody>
													<tfoot>
			
																																			<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_2")) class="@(Model.displayVar("rowclass"))
									@(Model.displayVar("gridFooter_class"))
					
								r-gridrow
							">
									@foreach (string _cellblock_grid_footcell_icons in Model.GetSection("cellblock_grid_footcell_icons", this)){
	<TD @(Model.displayVar("cell_grid_footcell_icons")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert			" data-cellId="grid_footcell_icons" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field3 in Model.GetSection("cellblock_grid_footcell_field3", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("Description_class"))	" data-cellId="grid_footcell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="scheduleofrequirements_list1">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field4 in Model.GetSection("cellblock_grid_footcell_field4", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("Quantity_class"))	" data-cellId="grid_footcell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="scheduleofrequirements_list1">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field5 in Model.GetSection("cellblock_grid_footcell_field5", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field5")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("DeliverySchedule_class"))	" data-cellId="grid_footcell_field5" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="scheduleofrequirements_list1">

	
	</td>
	}
							</tr>
					
					</tfoot>
				</table>
}
	</div>
<div class="r-below">
					@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="r-align-center r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
}
	</div>




										@{Html.RenderSharedView("footer");}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	}
	</body>
</html>
