@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-view">
	@foreach (string _body in Model.GetSection("body", this)){
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		<div class="r-vbar-page">
			<DIV data-width="300px" data-fixed class="r-left clearfix @(Model.displayVar("leftbar_class"))">
								<DIV data-location="left" id="form_left_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_left")) data-pageid="@(Model.displayVar("pageid"))">
@foreach (string _left_block in Model.GetSection("left_block", this)){
 
     
         

			<DIV data-cellId="left_c0" data-pageid="@(Model.displayVar("pageid"))" data-logo-cell class="clearfix " data-itemid="logo" @(Model.displayVar("item_logo"))>
				@foreach (string _logo_block in Model.GetSection("logo_block", this)){
	<A data-itemtype="logo" data-itemid="logo" @(Model.displayVar("item_logo")) data-pageid="@(Model.displayVar("pageid"))" class="navbar-brand" href="@(Model.displayVar("home_link"))" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("logo_hiddenattr"))>
		@(Model.displayVar("logo"))
	</A>
}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<DIV class="clearfix " data-cellId="left_c0" data-pageid="@(Model.displayVar("pageid"))" data-logo-cell data-itemid="expand_button" @(Model.displayVar("item_expand_button")) data-topcell-item-type="expand_button">
				<SPAN data-itemtype="expand_button" data-itemid="expand_button" @(Model.displayVar("item_expand_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Expand" class="btn btn-link   
	" href="#">
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<DIV data-cellId="left_c1" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))">
				@foreach (string _menuitems_main in Model.GetSection("menuitems_main", this)){
<UL data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))" class="r-menu nav menu-treelike" data-menulevel="1">

@foreach (string _item_children1 in Model.GetSection("item_children1", this)){
<LI class="
	@(Model.displayVar("item_current"))">
<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline data-menu-top>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
		<span class="r-menu-collapsed">@(Model.displayVar("item_collicon"))@(Model.displayVar("item_firstcap"))</span>
	</a>
@foreach (string _item_showchildren2 in Model.GetSection("item_showchildren2", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="2">
	@foreach (string _item_children2 in Model.GetSection("item_children2", this)){
		foreach (string _item_menulink2 in Model.GetSection("item_menulink2", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2_1 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon_1 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren3 in Model.GetSection("item_showchildren3", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="3">
	@foreach (string _item_children3 in Model.GetSection("item_children3", this)){
		foreach (string _item_menulink3 in Model.GetSection("item_menulink3", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren3 in Model.GetSection("item_haschildren3", this)){
		foreach (string _item_expand_icon_2 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren4 in Model.GetSection("item_showchildren4", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="4">
	@foreach (string _item_children4 in Model.GetSection("item_children4", this)){
		foreach (string _item_menulink4 in Model.GetSection("item_menulink4", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren4 in Model.GetSection("item_haschildren4", this)){
		foreach (string _item_expand_icon_3 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren5 in Model.GetSection("item_showchildren5", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="5">
	@foreach (string _item_children5 in Model.GetSection("item_children5", this)){
		foreach (string _item_menulink5 in Model.GetSection("item_menulink5", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren5 in Model.GetSection("item_haschildren5", this)){
		foreach (string _item_expand_icon_4 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
					</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
</li>
}
</ul>
}
			</div>
		
    }
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									@foreach (string _supertop_block in Model.GetSection("supertop_block", this)){
<NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_supertop")) data-pageid="@(Model.displayVar("pageid"))">
			 
							 
				<SPAN class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="expand_menu_button" @(Model.displayVar("item_expand_menu_button")) data-topcell-item-type="expand_menu_button">
				<SPAN data-itemtype="expand_menu_button" data-itemid="expand_menu_button" @(Model.displayVar("item_expand_menu_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#">		
				
								</a>
</span>
			</span>
		 
				<SPAN class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="collapse_button" @(Model.displayVar("item_collapse_button")) data-topcell-item-type="collapse_button">
				<SPAN data-itemtype="collapse_button" data-itemid="collapse_button" @(Model.displayVar("item_collapse_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#">		
				
								</a>
</span>
			</span>
		 
				<SPAN class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="breadcrumb" @(Model.displayVar("item_breadcrumb")) data-topcell-item-type="breadcrumb">
				@foreach (string _breadcrumb in Model.GetSection("breadcrumb", this)){
<OL class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" @(Model.displayVar("item_breadcrumb")) data-pageid="@(Model.displayVar("pageid"))">
<li ><A href="@(Model.displayVar("crumb_home_link"))"><span class="glyphicon glyphicon-home"></span></a>@(Model.displayVar("crumb_dropdown"))</li>
@foreach (string _crumb in Model.GetSection("crumb", this)){
  <LI class="@(Model.displayVar("crumb_item_class"))">
@foreach (string _crumb_title_link in Model.GetSection("crumb_title_link", this)){
	<A @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</a>
}
@foreach (string _crumb_title_span in Model.GetSection("crumb_title_span", this)){
	<SPAN @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</span>
}	
	@(Model.displayVar("crumb_dropdown"))
  </li>
}
</ol>
}			</span>
							 
													</nav>
}
						@(Model.displayVar("locking"))
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					@{Html.RenderSharedView("header");}
					<div class="r-top">
									@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
}
						</div>
											<div class="r-above">
					@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" @(Model.displayVar("cell_above-grid_c1")) class="r-align-left r-ori-vert			col-md-12
	
">
		@foreach (string _firstAboveGridCell in Model.GetSection("firstAboveGridCell", this)){
				}	
	</div>					</div>
			</div>		
}
	</div>
<div class="r-grid">
	@foreach (string _grid_tabs in Model.GetSection("grid_tabs", this)){
  <ul class="nav nav-tabs bsgrid_tabs">
	@(Model.displayVar("grid_tabs_content"))
  </ul>
}
					@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<DIV class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs1" @(Model.displayVar("item_tabs1")) data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<A aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2@(Model.displayVar("pageid"))">
					View Record				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<DIV role="tabpanel" class="tab-pane active" id="tab_section2@(Model.displayVar("pageid"))"> 
			@foreach (string _section2_block in Model.GetSection("section2_block", this)){




 
	 
												<TABLE data-body-align="left" data-location="section2" id="form_section2_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_section2")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_section2_0"))>
										

@foreach (string _cellblock_section2_c4 in Model.GetSection("cellblock_section2_c4", this)){
<TD @(Model.displayVar("cell_section2_c4")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c4" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _Code_fieldblock in Model.GetSection("Code_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field41" @(Model.displayVar("item_integrated_edit_field41")) data-pageid="@(Model.displayVar("pageid"))" data-field="Code" data-fieldname="Code" data-compact>@foreach (string _Code_label in Model.GetSection("Code_label", this)){@(Model.displayVar("label dbo_PPMP Code"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section2_c2 in Model.GetSection("cellblock_section2_c2", this)){
<TD @(Model.displayVar("cell_section2_c2")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c2" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _Code_fieldblock_1 in Model.GetSection("Code_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field1" @(Model.displayVar("item_integrated_edit_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="Code" data-fieldname="Code" data-compact>
		@(Model.displayVar("Code_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section2_c in Model.GetSection("cellblock_section2_c", this)){
<TD @(Model.displayVar("cell_section2_c")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _EstimatedBudget_fieldblock in Model.GetSection("EstimatedBudget_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field42" @(Model.displayVar("item_integrated_edit_field42")) data-pageid="@(Model.displayVar("pageid"))" data-field="EstimatedBudget" data-fieldname="EstimatedBudget" data-compact>@foreach (string _EstimatedBudget_label in Model.GetSection("EstimatedBudget_label", this)){@(Model.displayVar("label dbo_PPMP EstimatedBudget"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section2_c3 in Model.GetSection("cellblock_section2_c3", this)){
<TD @(Model.displayVar("cell_section2_c3")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c3" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _EstimatedBudget_fieldblock_1 in Model.GetSection("EstimatedBudget_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field11" @(Model.displayVar("item_integrated_edit_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="EstimatedBudget" data-fieldname="EstimatedBudget" data-compact>
		@(Model.displayVar("EstimatedBudget_value"))	</div>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_section2_1"))>
										

@foreach (string _cellblock_section2_c5 in Model.GetSection("cellblock_section2_c5", this)){
<TD @(Model.displayVar("cell_section2_c5")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c5" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _EndUserUnit_fieldblock in Model.GetSection("EndUserUnit_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field43" @(Model.displayVar("item_integrated_edit_field43")) data-pageid="@(Model.displayVar("pageid"))" data-field="EndUserUnit" data-fieldname="EndUserUnit" data-compact>@foreach (string _EndUserUnit_label in Model.GetSection("EndUserUnit_label", this)){@(Model.displayVar("label dbo_PPMP EndUserUnit"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section2_c6 in Model.GetSection("cellblock_section2_c6", this)){
<TD @(Model.displayVar("cell_section2_c6")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c6" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _EndUserUnit_fieldblock_1 in Model.GetSection("EndUserUnit_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field" @(Model.displayVar("item_integrated_edit_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="EndUserUnit" data-fieldname="EndUserUnit" data-compact>
		@(Model.displayVar("EndUserUnit_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section2_c7 in Model.GetSection("cellblock_section2_c7", this)){
<TD @(Model.displayVar("cell_section2_c7")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c7" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _QuantitySize_fieldblock in Model.GetSection("QuantitySize_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field44" @(Model.displayVar("item_integrated_edit_field44")) data-pageid="@(Model.displayVar("pageid"))" data-field="QuantitySize" data-fieldname="QuantitySize" data-compact>@foreach (string _QuantitySize_label in Model.GetSection("QuantitySize_label", this)){@(Model.displayVar("label dbo_PPMP QuantitySize"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section2_c8 in Model.GetSection("cellblock_section2_c8", this)){
<TD @(Model.displayVar("cell_section2_c8")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c8" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _QuantitySize_fieldblock_1 in Model.GetSection("QuantitySize_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field4" @(Model.displayVar("item_integrated_edit_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="QuantitySize" data-fieldname="QuantitySize" data-compact>
		@(Model.displayVar("QuantitySize_value"))	</div>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_section2_2"))>
										

@foreach (string _cellblock_section2_c9 in Model.GetSection("cellblock_section2_c9", this)){
<TD @(Model.displayVar("cell_section2_c9")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c9" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _ModeOfProcurement_fieldblock in Model.GetSection("ModeOfProcurement_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field45" @(Model.displayVar("item_integrated_edit_field45")) data-pageid="@(Model.displayVar("pageid"))" data-field="ModeOfProcurement" data-fieldname="ModeOfProcurement" data-compact>@foreach (string _ModeOfProcurement_label in Model.GetSection("ModeOfProcurement_label", this)){@(Model.displayVar("label dbo_PPMP ModeOfProcurement"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section2_c10 in Model.GetSection("cellblock_section2_c10", this)){
<TD @(Model.displayVar("cell_section2_c10")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c10" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _ModeOfProcurement_fieldblock_1 in Model.GetSection("ModeOfProcurement_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field3" @(Model.displayVar("item_integrated_edit_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="ModeOfProcurement" data-fieldname="ModeOfProcurement" data-compact>
		@(Model.displayVar("ModeOfProcurement_value"))	</div>
}
	
								</td>
			}
			 
		
							

@foreach (string _cellblock_section2_c11 in Model.GetSection("cellblock_section2_c11", this)){
<TD @(Model.displayVar("cell_section2_c11")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c11" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
									</td>
			}
			 
		
							

@foreach (string _cellblock_section2_c12 in Model.GetSection("cellblock_section2_c12", this)){
<TD @(Model.displayVar("cell_section2_c12")) class="r-align-left r-ori-vert" data-single data-cellId="section2_c12" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
									</td>
			}
								</tr>
	 
	 
																</tbody></table>
				<DIV class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" @(Model.displayVar("item_tabs")) data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<A aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section@(Model.displayVar("pageid"))">
					General Information				</a>
			</li>
										<li role="presentation" class="">
				<A aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1@(Model.displayVar("pageid"))">
					Others				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<DIV role="tabpanel" class="tab-pane active" id="tab_section@(Model.displayVar("pageid"))"> 
			@foreach (string _section_block in Model.GetSection("section_block", this)){




 
	 
												<TABLE data-body-align="left" data-location="section" id="form_section_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_section")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_section_0"))>
										

@foreach (string _cellblock_section_c4 in Model.GetSection("cellblock_section_c4", this)){
<TD @(Model.displayVar("cell_section_c4")) class="r-align-left r-ori-vert" data-single data-cellId="section_c4" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _GeneralDescription_fieldblock in Model.GetSection("GeneralDescription_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field35" @(Model.displayVar("item_integrated_edit_field35")) data-pageid="@(Model.displayVar("pageid"))" data-field="GeneralDescription" data-fieldname="GeneralDescription" data-compact>@foreach (string _GeneralDescription_label in Model.GetSection("GeneralDescription_label", this)){@(Model.displayVar("label dbo_PPMP GeneralDescription"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section_c2 in Model.GetSection("cellblock_section_c2", this)){
<TD @(Model.displayVar("cell_section_c2")) class="r-align-left r-ori-vert" data-single data-cellId="section_c2" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _GeneralDescription_fieldblock_1 in Model.GetSection("GeneralDescription_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field10" @(Model.displayVar("item_integrated_edit_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="GeneralDescription" data-fieldname="GeneralDescription" data-compact>
		@(Model.displayVar("GeneralDescription_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section_c in Model.GetSection("cellblock_section_c", this)){
<TD @(Model.displayVar("cell_section_c")) class="r-align-left r-ori-vert" data-single data-cellId="section_c" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _ProjectDescription_fieldblock in Model.GetSection("ProjectDescription_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field36" @(Model.displayVar("item_integrated_edit_field36")) data-pageid="@(Model.displayVar("pageid"))" data-field="ProjectDescription" data-fieldname="ProjectDescription" data-compact>@foreach (string _ProjectDescription_label in Model.GetSection("ProjectDescription_label", this)){@(Model.displayVar("label dbo_PPMP ProjectDescription"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section_c3 in Model.GetSection("cellblock_section_c3", this)){
<TD @(Model.displayVar("cell_section_c3")) class="r-align-left r-ori-vert" data-single data-cellId="section_c3" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _ProjectDescription_fieldblock_1 in Model.GetSection("ProjectDescription_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field5" @(Model.displayVar("item_integrated_edit_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="ProjectDescription" data-fieldname="ProjectDescription" data-compact>
		@(Model.displayVar("ProjectDescription_value"))	</div>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_section_1"))>
										

@foreach (string _cellblock_section_c5 in Model.GetSection("cellblock_section_c5", this)){
<TD @(Model.displayVar("cell_section_c5")) class="r-align-left r-ori-vert" data-single data-cellId="section_c5" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _SourceOfFund_fieldblock in Model.GetSection("SourceOfFund_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field37" @(Model.displayVar("item_integrated_edit_field37")) data-pageid="@(Model.displayVar("pageid"))" data-field="SourceOfFund" data-fieldname="SourceOfFund" data-compact>@foreach (string _SourceOfFund_label in Model.GetSection("SourceOfFund_label", this)){@(Model.displayVar("label dbo_PPMP SourceOfFund"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section_c6 in Model.GetSection("cellblock_section_c6", this)){
<TD @(Model.displayVar("cell_section_c6")) class="r-align-left r-ori-vert" data-single data-cellId="section_c6" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _SourceOfFund_fieldblock_1 in Model.GetSection("SourceOfFund_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field2" @(Model.displayVar("item_integrated_edit_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="SourceOfFund" data-fieldname="SourceOfFund" data-compact>
		@(Model.displayVar("SourceOfFund_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section_c7 in Model.GetSection("cellblock_section_c7", this)){
<TD @(Model.displayVar("cell_section_c7")) class="r-align-left r-ori-vert" data-single data-cellId="section_c7" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _TotalMOOEAndCO_fieldblock in Model.GetSection("TotalMOOEAndCO_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field38" @(Model.displayVar("item_integrated_edit_field38")) data-pageid="@(Model.displayVar("pageid"))" data-field="TotalMOOEAndCO" data-fieldname="TotalMOOEAndCO" data-compact>@foreach (string _TotalMOOEAndCO_label in Model.GetSection("TotalMOOEAndCO_label", this)){@(Model.displayVar("label dbo_PPMP TotalMOOEAndCO"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section_c8 in Model.GetSection("cellblock_section_c8", this)){
<TD @(Model.displayVar("cell_section_c8")) class="r-align-left r-ori-vert" data-single data-cellId="section_c8" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _TotalMOOEAndCO_fieldblock_1 in Model.GetSection("TotalMOOEAndCO_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field8" @(Model.displayVar("item_integrated_edit_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="TotalMOOEAndCO" data-fieldname="TotalMOOEAndCO" data-compact>
		@(Model.displayVar("TotalMOOEAndCO_value"))	</div>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_section_2"))>
										

@foreach (string _cellblock_section_c9 in Model.GetSection("cellblock_section_c9", this)){
<TD @(Model.displayVar("cell_section_c9")) class="r-align-left r-ori-vert" data-single data-cellId="section_c9" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _SubmittedBy_fieldblock in Model.GetSection("SubmittedBy_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field39" @(Model.displayVar("item_integrated_edit_field39")) data-pageid="@(Model.displayVar("pageid"))" data-field="SubmittedBy" data-fieldname="SubmittedBy" data-compact>@foreach (string _SubmittedBy_label in Model.GetSection("SubmittedBy_label", this)){@(Model.displayVar("label dbo_PPMP SubmittedBy"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section_c10 in Model.GetSection("cellblock_section_c10", this)){
<TD @(Model.displayVar("cell_section_c10")) class="r-align-left r-ori-vert" data-single data-cellId="section_c10" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _SubmittedBy_fieldblock_1 in Model.GetSection("SubmittedBy_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field6" @(Model.displayVar("item_integrated_edit_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="SubmittedBy" data-fieldname="SubmittedBy" data-compact>
		@(Model.displayVar("SubmittedBy_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section_c11 in Model.GetSection("cellblock_section_c11", this)){
<TD @(Model.displayVar("cell_section_c11")) class="r-align-left r-ori-vert" data-single data-cellId="section_c11" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _PreparedBy_fieldblock in Model.GetSection("PreparedBy_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field40" @(Model.displayVar("item_integrated_edit_field40")) data-pageid="@(Model.displayVar("pageid"))" data-field="PreparedBy" data-fieldname="PreparedBy" data-compact>@foreach (string _PreparedBy_label in Model.GetSection("PreparedBy_label", this)){@(Model.displayVar("label dbo_PPMP PreparedBy"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section_c12 in Model.GetSection("cellblock_section_c12", this)){
<TD @(Model.displayVar("cell_section_c12")) class="r-align-left r-ori-vert" data-single data-cellId="section_c12" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _PreparedBy_fieldblock_1 in Model.GetSection("PreparedBy_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field7" @(Model.displayVar("item_integrated_edit_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="PreparedBy" data-fieldname="PreparedBy" data-compact>
		@(Model.displayVar("PreparedBy_value"))	</div>
}
	
								</td>
			}
								</tr>
			</tbody></table>
}
						</div>
					<DIV role="tabpanel" class="tab-pane " id="tab_section1@(Model.displayVar("pageid"))"> 
			@foreach (string _section1_block in Model.GetSection("section1_block", this)){




 
	 
												<TABLE data-body-align="left" data-location="section1" id="form_section1_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_section1")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_section1_0"))>
										

@foreach (string _cellblock_section1_c4 in Model.GetSection("cellblock_section1_c4", this)){
<TD @(Model.displayVar("cell_section1_c4")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c4" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _January_fieldblock in Model.GetSection("January_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field23" @(Model.displayVar("item_integrated_edit_field23")) data-pageid="@(Model.displayVar("pageid"))" data-field="January" data-fieldname="January" data-compact>@foreach (string _January_label in Model.GetSection("January_label", this)){@(Model.displayVar("label dbo_PPMP January"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c2 in Model.GetSection("cellblock_section1_c2", this)){
<TD @(Model.displayVar("cell_section1_c2")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c2" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _January_fieldblock_1 in Model.GetSection("January_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field9" @(Model.displayVar("item_integrated_edit_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="January" data-fieldname="January" data-compact>
		@(Model.displayVar("January_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c in Model.GetSection("cellblock_section1_c", this)){
<TD @(Model.displayVar("cell_section1_c")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _July_fieldblock in Model.GetSection("July_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field24" @(Model.displayVar("item_integrated_edit_field24")) data-pageid="@(Model.displayVar("pageid"))" data-field="July" data-fieldname="July" data-compact>@foreach (string _July_label in Model.GetSection("July_label", this)){@(Model.displayVar("label dbo_PPMP July"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c3 in Model.GetSection("cellblock_section1_c3", this)){
<TD @(Model.displayVar("cell_section1_c3")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c3" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _July_fieldblock_1 in Model.GetSection("July_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field17" @(Model.displayVar("item_integrated_edit_field17")) data-pageid="@(Model.displayVar("pageid"))" data-field="July" data-fieldname="July" data-compact>
		@(Model.displayVar("July_value"))	</div>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_section1_1"))>
										

@foreach (string _cellblock_section1_c5 in Model.GetSection("cellblock_section1_c5", this)){
<TD @(Model.displayVar("cell_section1_c5")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c5" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _February_fieldblock in Model.GetSection("February_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field25" @(Model.displayVar("item_integrated_edit_field25")) data-pageid="@(Model.displayVar("pageid"))" data-field="February" data-fieldname="February" data-compact>@foreach (string _February_label in Model.GetSection("February_label", this)){@(Model.displayVar("label dbo_PPMP February"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c6 in Model.GetSection("cellblock_section1_c6", this)){
<TD @(Model.displayVar("cell_section1_c6")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c6" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _February_fieldblock_1 in Model.GetSection("February_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field12" @(Model.displayVar("item_integrated_edit_field12")) data-pageid="@(Model.displayVar("pageid"))" data-field="February" data-fieldname="February" data-compact>
		@(Model.displayVar("February_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c7 in Model.GetSection("cellblock_section1_c7", this)){
<TD @(Model.displayVar("cell_section1_c7")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c7" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _August_fieldblock in Model.GetSection("August_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field26" @(Model.displayVar("item_integrated_edit_field26")) data-pageid="@(Model.displayVar("pageid"))" data-field="August" data-fieldname="August" data-compact>@foreach (string _August_label in Model.GetSection("August_label", this)){@(Model.displayVar("label dbo_PPMP August"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c8 in Model.GetSection("cellblock_section1_c8", this)){
<TD @(Model.displayVar("cell_section1_c8")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c8" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _August_fieldblock_1 in Model.GetSection("August_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field18" @(Model.displayVar("item_integrated_edit_field18")) data-pageid="@(Model.displayVar("pageid"))" data-field="August" data-fieldname="August" data-compact>
		@(Model.displayVar("August_value"))	</div>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_section1_2"))>
										

@foreach (string _cellblock_section1_c9 in Model.GetSection("cellblock_section1_c9", this)){
<TD @(Model.displayVar("cell_section1_c9")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c9" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _March_fieldblock in Model.GetSection("March_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field27" @(Model.displayVar("item_integrated_edit_field27")) data-pageid="@(Model.displayVar("pageid"))" data-field="March" data-fieldname="March" data-compact>@foreach (string _March_label in Model.GetSection("March_label", this)){@(Model.displayVar("label dbo_PPMP March"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c10 in Model.GetSection("cellblock_section1_c10", this)){
<TD @(Model.displayVar("cell_section1_c10")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c10" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _March_fieldblock_1 in Model.GetSection("March_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field13" @(Model.displayVar("item_integrated_edit_field13")) data-pageid="@(Model.displayVar("pageid"))" data-field="March" data-fieldname="March" data-compact>
		@(Model.displayVar("March_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c11 in Model.GetSection("cellblock_section1_c11", this)){
<TD @(Model.displayVar("cell_section1_c11")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c11" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _September_fieldblock in Model.GetSection("September_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field28" @(Model.displayVar("item_integrated_edit_field28")) data-pageid="@(Model.displayVar("pageid"))" data-field="September" data-fieldname="September" data-compact>@foreach (string _September_label in Model.GetSection("September_label", this)){@(Model.displayVar("label dbo_PPMP September"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c12 in Model.GetSection("cellblock_section1_c12", this)){
<TD @(Model.displayVar("cell_section1_c12")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c12" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _September_fieldblock_1 in Model.GetSection("September_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field19" @(Model.displayVar("item_integrated_edit_field19")) data-pageid="@(Model.displayVar("pageid"))" data-field="September" data-fieldname="September" data-compact>
		@(Model.displayVar("September_value"))	</div>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_section1_3"))>
										

@foreach (string _cellblock_section1_c13 in Model.GetSection("cellblock_section1_c13", this)){
<TD @(Model.displayVar("cell_section1_c13")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c13" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _April_fieldblock in Model.GetSection("April_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field29" @(Model.displayVar("item_integrated_edit_field29")) data-pageid="@(Model.displayVar("pageid"))" data-field="April" data-fieldname="April" data-compact>@foreach (string _April_label in Model.GetSection("April_label", this)){@(Model.displayVar("label dbo_PPMP April"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c14 in Model.GetSection("cellblock_section1_c14", this)){
<TD @(Model.displayVar("cell_section1_c14")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c14" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _April_fieldblock_1 in Model.GetSection("April_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field14" @(Model.displayVar("item_integrated_edit_field14")) data-pageid="@(Model.displayVar("pageid"))" data-field="April" data-fieldname="April" data-compact>
		@(Model.displayVar("April_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c15 in Model.GetSection("cellblock_section1_c15", this)){
<TD @(Model.displayVar("cell_section1_c15")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c15" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _October_fieldblock in Model.GetSection("October_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field30" @(Model.displayVar("item_integrated_edit_field30")) data-pageid="@(Model.displayVar("pageid"))" data-field="October" data-fieldname="October" data-compact>@foreach (string _October_label in Model.GetSection("October_label", this)){@(Model.displayVar("label dbo_PPMP October"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c16 in Model.GetSection("cellblock_section1_c16", this)){
<TD @(Model.displayVar("cell_section1_c16")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c16" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _October_fieldblock_1 in Model.GetSection("October_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field20" @(Model.displayVar("item_integrated_edit_field20")) data-pageid="@(Model.displayVar("pageid"))" data-field="October" data-fieldname="October" data-compact>
		@(Model.displayVar("October_value"))	</div>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_section1_4"))>
										

@foreach (string _cellblock_section1_c17 in Model.GetSection("cellblock_section1_c17", this)){
<TD @(Model.displayVar("cell_section1_c17")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c17" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _May_fieldblock in Model.GetSection("May_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field31" @(Model.displayVar("item_integrated_edit_field31")) data-pageid="@(Model.displayVar("pageid"))" data-field="May" data-fieldname="May" data-compact>@foreach (string _May_label in Model.GetSection("May_label", this)){@(Model.displayVar("label dbo_PPMP May"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c18 in Model.GetSection("cellblock_section1_c18", this)){
<TD @(Model.displayVar("cell_section1_c18")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c18" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _May_fieldblock_1 in Model.GetSection("May_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field15" @(Model.displayVar("item_integrated_edit_field15")) data-pageid="@(Model.displayVar("pageid"))" data-field="May" data-fieldname="May" data-compact>
		@(Model.displayVar("May_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c19 in Model.GetSection("cellblock_section1_c19", this)){
<TD @(Model.displayVar("cell_section1_c19")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c19" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _November_fieldblock in Model.GetSection("November_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field32" @(Model.displayVar("item_integrated_edit_field32")) data-pageid="@(Model.displayVar("pageid"))" data-field="November" data-fieldname="November" data-compact>@foreach (string _November_label in Model.GetSection("November_label", this)){@(Model.displayVar("label dbo_PPMP November"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c20 in Model.GetSection("cellblock_section1_c20", this)){
<TD @(Model.displayVar("cell_section1_c20")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c20" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _November_fieldblock_1 in Model.GetSection("November_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field21" @(Model.displayVar("item_integrated_edit_field21")) data-pageid="@(Model.displayVar("pageid"))" data-field="November" data-fieldname="November" data-compact>
		@(Model.displayVar("November_value"))	</div>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_section1_5"))>
										

@foreach (string _cellblock_section1_c21 in Model.GetSection("cellblock_section1_c21", this)){
<TD @(Model.displayVar("cell_section1_c21")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c21" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _June_fieldblock in Model.GetSection("June_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field33" @(Model.displayVar("item_integrated_edit_field33")) data-pageid="@(Model.displayVar("pageid"))" data-field="June" data-fieldname="June" data-compact>@foreach (string _June_label in Model.GetSection("June_label", this)){@(Model.displayVar("label dbo_PPMP June"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c22 in Model.GetSection("cellblock_section1_c22", this)){
<TD @(Model.displayVar("cell_section1_c22")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c22" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _June_fieldblock_1 in Model.GetSection("June_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field16" @(Model.displayVar("item_integrated_edit_field16")) data-pageid="@(Model.displayVar("pageid"))" data-field="June" data-fieldname="June" data-compact>
		@(Model.displayVar("June_value"))	</div>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c23 in Model.GetSection("cellblock_section1_c23", this)){
<TD @(Model.displayVar("cell_section1_c23")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c23" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="1">
	<div edit-form-cell class="clearfix">
				@foreach (string _December_fieldblock in Model.GetSection("December_fieldblock", this)){
	<LABEL class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field34" @(Model.displayVar("item_integrated_edit_field34")) data-pageid="@(Model.displayVar("pageid"))" data-field="December" data-fieldname="December" data-compact>@foreach (string _December_label in Model.GetSection("December_label", this)){@(Model.displayVar("label dbo_PPMP December"))}</label>
}
	
								</td>
			}
			 
																

@foreach (string _cellblock_section1_c24 in Model.GetSection("cellblock_section1_c24", this)){
<TD @(Model.displayVar("cell_section1_c24")) class="r-align-left r-ori-vert" data-single data-cellId="section1_c24" data-pageid="@(Model.displayVar("pageid"))" data-page="ppmp_view" data-v-cell="2">
	<div edit-form-cell class="clearfix">
				@foreach (string _December_fieldblock_1 in Model.GetSection("December_fieldblock", this)){
	<DIV class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field22" @(Model.displayVar("item_integrated_edit_field22")) data-pageid="@(Model.displayVar("pageid"))" data-field="December" data-fieldname="December" data-compact>
		@(Model.displayVar("December_value"))	</div>
}
	
								</td>
			}
								</tr>
			</tbody></table>
}
						</div>
				</div>
	</div>
</div>  	
				}
						</div>
				</div>
	</div>
</div>  	
				}
	</div>
<div class="r-below">
					@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="below-grid_c" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c")) class="r-align-left r-ori-vert			col-md-12
	
">
		 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="view_back_list" data-itemid="view_back_list" @(Model.displayVar("item_view_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
		</div>					</div>
			</div>		
}
	</div>




										@{Html.RenderSharedView("footer");}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	}
	</body>
</html>
